@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(../../assets/fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: local("Quicksand-Bold"), url(../../assets/fonts/Quicksand-Bold.ttf) format("truetype");
}

table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand';
  }
  
  th, td {
    border: none;
    padding: 8px;
    text-align: center;
    border-bottom: #ddd 1px solid;
  }
  
  th {
    background-color: #d07e43;
    height: 30px;
    font-family: 'Quicksand-Bold';
    border: none;
    text-align: center;
  }

  .imagem{
    width: 50px;
    height: 50px;
    border-radius: 40px;
  }

  .botaoExcluir{
    background-color: #004c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Quicksand';
    cursor: pointer;
  }

  .botaoExcluirM {
    background-color: rgba(255, 0, 0, 0.87);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Quicksand';
    cursor: pointer;
  }